/* Propiedades para el archivo index(proyecto_web) */
h1,h2,h3,h4,h5,h6,figure,p { margin: 0; padding: 0; }    /*  En esta linea puse todo en una sola, usted dijo que si podia y que es para ahorrar y minimizar las lineas de codigo  1 */

.container { 
    width: 920px;   /* Ancho */
    margin: 0 auto; }   /* Margen */

#encabezado {
    height: 120px;  /* Alto */
    display: flex;  /* Definir el ancho de NS y de Publicidad */
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

#encabezado figure { margin: 0; }   /* Ahorrar linea 2 */

#titulos * { margin: 0; }   /* Ahorrar linea 3 */

#encabezado h1 { font-size: 1.2em; }
#encabezado h2 { font-size: 1em; }
#encabezado h3 { font-size: 0.9em; }
#encabezado h4 { font-size: 0.8em; }

#contenido { }

#nota-importante {
    height: 360px;
    background-color: #6bc6a3;
    margin: 20px 0;
    box-shadow: 0 0 15px darkgray;
}

#nota-importante img {  border: 10px solid white; } /* Ahorrar linea 4 */

#notas-secundarias {
    min-height: 300px; /* Para que cuando no tenga informacion quede un espacio, en este caso de 300px */
    width: 700px;
    display: inline-block;  /* Para quitar viñeta y linea */
    float: left; /* Para que notas-secundarias flote a la IZQUIERDA */
}

#notas-secundarias article {
    display: flex;
    background-image: url('../images/separador-nota-secundaria.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.imagen-nota-secundaria { position: relative; } /* Ahorrar linea 5 */

.sombra-imagen { box-shadow: 0px 0px 5px #bdbdbd; } /* Ahorrar linea 6 */

.imagen-nota-secundaria span {
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lightgray;
}

.titulo-nota-secundaria {
    font-size: 1.7em;
    line-height: 0.9em;
    font-variant: small-caps;
}

.cuerpo-nota-secundaria {
    padding-left: 20px;
    padding-right: 10px;
}

.intro-nota-secundaria {
    text-align: justify;
    margin: 10px 0;
}
.ver-mas p {
    color: white;
    font-size: 
}

#anuncios {
    height: 210px;
    padding: 5px;
    float: right;
    min-height: 290px;;
}
#anuncios > img {
    margin: 3px 0;
}

#pie {
    height: 150px;
    clear: both;
    background-color: #3df8ff;
}

#menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

#menu ul { padding: 0; }    /* Ahorrar linea 7 */

#menu li {
    list-style-type: none;
    padding: 0;
}

#menu>ul>li { display: inline-block; }  /* Ahorrar linea 8 */

#menu li a {
    text-decoration: none;
    color: black;
}

#menu>ul>li>a {
    padding: 10px;
    background-color: darkgray;
    transition: 0.5s;
}

#menu>ul>li>a:hover { background-color: lightgray; }    /* Ahorrar linea 9 */

#menu li ul { display: none; }  /* Ahorrar linea 10 */

.boton {
    background: #AA3521;
    display: inline-block;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
}

.boton>div {
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7);
}

.boton p {
    color: white;
    font-variant: small-caps;
    font-size: 1.1em;
}
.facebook, twitter {
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
}
.facebook {
    background: url('../images/facebook_twitter.png') 0 0; 
}
.twitter {
    background: url('../images/facebook_twitter.png') -43px 0;
}
.facebook:hover {
    background: url('../images/facebook_twitter.png') -43 0; 
}
.twitter {
    background: url('../images/facebook_twitter.png') -43px -43;
}